
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    color: #243e63;;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
    
}

.container {
    padding: 20px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__row {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.overlay {
    background-image: url(./assets/movies-banner.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 10%;
}