
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    color: #243e63;;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 500;
    text-align: center;
    letter-spacing: .1em;
    font-size: 48px;
    max-width: 1000px;
    margin-top: 40px;
    color: white;
}

h2 {
    font-size: 36px;
    margin: 20px 0;
}

h3 {
    font-size: 28px;
    padding: 16px;
}

p {
    font-size: 18px;
    padding: 16px;

}

li {
    list-style-type: none;
    
}

.container {
    padding: 20px 0;
    background-color: lightblue;
    height: 326px;
    
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
    position: relative;
}

.nav__row {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
   
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    left: 0;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
    color: white;
}

.nav__links {
    display: flex;
    align-items: center;
    
}

.nav__link {
    color: white;
    margin-right: 64px;
    text-decoration: none;
}

/* .link__hover-effect {
    position: relative;
} */

/* .link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    right: 0;
    width: 0;
    background-color: white;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
} */

.overlay {
    background-image: url(./assets/movies-banner.png);
    background-repeat: no-repeat;
    height: 326px;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 8%;
}

.search__wrapper {
    margin-top: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.search__wrapper--input {
    width: 100%;
    max-width: 1000px;
    height: 60px;
    font-size: 20px;
    margin-top: 40px;
    
}

.search__input {
    font-size: 40px;
    border-radius: 10px;
    padding: 0 10px;
   
}

/*
MOVIE RESULTS
*/

.search__results {
display: flex;
flex-direction: column;
align-items: center;


}

.movie-card__container {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    max-width: 750px;
    display: flex;
}

.poster__img {
    display: flex;
    height: 250px;
    margin: 16px;
    border: 2px solid lightblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}